.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 70px;
    background: #f7f7f7;
    color: #000;
    margin: 0 -1rem;
    font-size: 20px;
    box-shadow: rgb(60 64 67 / 30%) 0px 0px 2px 1px,
      rgb(60 64 67 / 15%) 0px 0px 3px 1px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: 1rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
